.diario,
.horas,
.rerate
{
    /*margin-top: 14px;*/
    background: rgba(0,0,0,0.03);
    border-radius: 5px;
    display: inline-block;
    float: left;
    font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    left: 750px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    position: absolute;
    top: 327px;
    width: 15%;
}
.diario ul li.cargados,
.horas ul li.cargados,
.rerate ul li.cargados,
 h5.cargados
{
    color:rgba(111,204,187,1);
    padding-left: 2em;
}

.rerate ul li.rangoDesde{
    margin-right: 1em;
    float: left;
}

.rerate ul li.rangoHasta{
    margin-right: 1.21em;
    float: left;
}
.diario ul li.nocargados,
.horas ul li.nocargados,
.rerate ul li.nocargados,
 h5.nocargados
{
    color:#8a1f11;
    padding-left: 2em;
}
.detallecarga
{
    margin-left: 25px;
}
.oculta
{
    display: none;
}
.transparente, .transparente2
{
    background: rgba(0,0,0,0.5);
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
}
.interna, .interna2
{
    background: white;
    border-radius:10px;
    border:10px rgba(10,31,38,0.7) solid;
    display: inline-block;
    margin: 10% auto;
    padding: 5em 5em;
    text-align: center;
}
.error
{
    background:#FBE3E4;
    border-radius:10px;
    border:10px #FBC2C4 solid;
    color:#8a1f11;
    display: inline-block;
    margin: 10% auto;
    padding: 5em 5em;
    text-align: center;
}
.confirm
{
    background: white;
    border-radius:10px;
    border:10px rgba(10,31,38,0.7) solid;
    display: inline-block;
    margin: 10% auto;
    padding: 5em 5em;
    text-align: center;
}
.interna h1, .interna2 h1
{
    font-size: 3em;
}
.interna img, .interna2 img
{
    max-width: 256px;
    max-height: 51px;
}
.interna button
{
    width: 100px;
}
.confirm button
{
    width: 100px;
}
.interna p
{
    font-size: 1.2em;
    text-align: center;
}
.divCarrier
{
    margin-left: 8.6%;
    width:auto;
    height:400px;
    margin-top: 2em;
}
.divVendedor
{
    margin-left:300px;
}
.izquierda
{
    width: 30px;
    height: 30px;
    margin-left: 510px;
    margin-top: -110px;
    border-radius:250px 250px 250px 250px;
}
.derecha
{
    width: 30px;
    height: 30px;
    margin-left: 510px;
    margin-top: -80px;
    border-radius:250px 250px 250px 250px;
}
/*.tapa
{
  background-color:red;
  height:200px;
  margin-left:407px;
  margin-top:-192px;
  width:50px;
}*/
#options_right_all
{
    display:none;
}
#options_left_all
{
    display:none;
}
 .cargando
{
    background-color: black;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    content:"";
    opacity: .7; 
}
.mensaje
{
    background-color:white;
    border:solid threedshadow;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    color:#6E6E6E;
    top:12%;
    padding:23px 30px 43px 28px;
    position:fixed;
    text-align:center;
    width:490px;
    margin-left:30%;
}

.cancelar
{
    background-color:#FBC2C4;
    margin-top: 0px;
    margin-left: 150px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}
.cancelar:hover
{
    background-color:#D19496;
    /*background: url(images/cancelarHover.png);*/
    margin-top: 0px;
    margin-left: 150px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}
.confirma
{
    background-color:rgba(111,204,187,1);
    margin-top: -55px;
    margin-left: 245px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}
.confirma:hover
{
    background-color:rgba(44, 139, 110, 1);
    margin-top: -55px;
    margin-left: 245px;
    text-align: center;
    width: 90px;
    height: 35px;
    color:white;
    font-size: 18px;
}

#welcome
{
    background: url(../img/arrow.png) no-repeat 90% 0;
    height: 19em;
    width: 79.9em; 
}
.divOculto
{
    margin-top: 45px;
    display: none;
}
.formularioContrato
{
    display: none;
}
.note
{
    display:none;
}
.SegundoNivel
{
    margin-top:30px;    
}
.divOculto1
{
    width: 100%;
    margin-left: 850px;
    margin-top: -132px;
    display: none;
}
/*#Contrato_end_date,
#Contrato_sign_date,
#Contrato_production_date,
#Contrato_id_company,
#Contrato_id_termino_pago,
#Contrato_id_monetizable,
#Contrato_id_limites,
#Contrato_id_disputa
{
width: 20%;    
}*/
.manageractual
{
/*background-color: red; */
    margin-top: 50px;
    margin-left: -5%;
    width: 300px;
    text-align: -webkit-right;
}
.pManager
{
    width: 20%;
    margin-left: 582px;
    margin-top: -38px;
    display: none;
}
.fechaFirma
{
    width: 100%;
    margin-left: 292px;
    margin-top: -82px;
}
.company
{
/*       width: 100%;
    margin-left: 570px;
    margin-top: -79px;*/
}
.fechaProduccion
{
    width: 100%;
    margin-left: 570px;
    margin-top: -80px;
}
.fechaFin
{
    width: 100%;
    margin-left: 850px;
    margin-top: -80px;
}
.TPago
{
/*    width: 20%;
    margin-left: 682px;
    margin-top: -35px;
    display: none;*/
}
.contratoForm{
    width: 24%;
    display: inline-block;
}
.contratoForm input, .contratoForm select {
    /*float: left;*/
    width: 90% !important;
}

@media screen and (max-width: 600px) { /* 13 / 390 */
    .contratoForm{ width: 45%;}
}
.monetizable
{
    width: 100%;
    margin-left: 292px;
    margin-top: -82px;
}
.disputa
{
    width: 100%;
    margin-left: 570px;
    margin-top: -84px;
}
.limites
{
    width: 100%;
    margin-left: 850px;
    margin-top: -84px;
}

.CarrierActual
{
/*    background-color:red;*/
    width: 658px;
    height: 40px;
    margin-left: 439px;
    margin-top: -70px;
    display: none; 
}
#Contrato_id_carrier
{
    width: 46%;    
}
.carrierSelect
{
    position:relative;
    margin-top: 50px;  
}
.SelectGrupo
{
    position:relative;
    margin-top: 50px;  
}
.lineabajo
{
    background: url(../img/lineabajo.png) no-repeat 90% 0;
    height: 16em;
    width: 104px;
    position: absolute;
    margin-top: -65px;
    margin-left: 939px;
}
.destinationform
{
    float: left;
    width: 24%;
    display: inline-block;
}
#ZonaDestination_id_zona_geografica select,#ZonaDestination_id_destination select,.botAsignarDestination div{
    width: 90% !important;
    float: left;
}
@media screen and (max-width: 600px) { /* 13 / 390 */
   .botAsignarDestination .destinationform{ width: 45%;}
}
.valoresDestination
{   
    margin-left: 17%;
    width: 156%;
    padding-bottom: 75px
}
.botAsignarDestination,.AsignarCarrierGroup
{
    margin-left: 20%;
    width: 24%;
    margin-top: 1%;
}
.valoresDocumento, .tabla_N_C, .numDocumentoNota
{
    display:none;
} 
.formularioDocumento
{
    padding-top: 2%;
}
.input_largos
{
    width: 76%; 
}

#botAsignar,#botAsignarContrato,#botAgregarDatosContable ,#botAgregarDatosContableFinal, #botConfirmarDatosContableFinal
{
    margin-left: 20%;width: 24%;
}
@media screen and (max-width: 600px) { /* 13 / 390 */
   #botAsignar,#botAsignarContrato,#botAgregarDatosContable, #botAgregarDatosContableFinal, .AsignarCarrierGroup{ margin-left: 1%;}
}


.contratoFormTextArea, .quitaNota
{
    display: none;
    width: 97%;
}
.hacerUnaNota 
{
    color:rgba(111,204,187,1);
    width: 5%;
}
.nuevoDestProv, .cancelarDestProv
{
    color:rgba(111,204,187,1);
    width: 5%;
    font-weight:bold;
    font-size: 27px;
    position: absolute;
    top: 36px;
    right: 0;
}
.cancelarDestProv
{
    display:none;
}

.DestinoProv{
    position: relative;
}
#AccountingDocumentTemp_input_dest_supplier{
    display: none;
}
.CarrierDocument,.GrupoDocument
{
    width: 76%;
    float: right;
    margin-top: -7.3%;
    text-align: left;
    margin-right: -271px;
    display: none;
}

@media screen and (max-width: 914px) { 
    .CarrierDocument{ width: 76%; margin-top: -10.3%; margin-right: -199px;}
}
@media screen and (max-width: 600px) {
    .CarrierDocument{ width: 66%; margin-right: -64px;float: right;margin-top: -15.5%;}
}
/*.ReceivedDateCobro
{
    display:block;
}*/
.tablaVistDocTemporales 
{
    margin-top: 2%;
    margin-left:1%;
    right:auto;
    color: white;
    border: none;
    text-align:center;
    width: 1086px;
}
/*****FACTURAS RECIBIDAS********/
.lista_FacRec{
    background: rgb(161, 177, 171);
    border-bottom-color: rgb(161, 177, 171); 
}
.lista_FacRec td {
    width: 67px;
    height: 25px;
}
.lista_FacRec tr:hover {
    background: rgb(161, 177, 171);
    color: white;
}
/*****FACTURAS ENVIADAS********/
.lista_FacEnv{
    background: rgba(111,204,187,1);
    border-bottom-color: rgba(111,204,187,1);
}
.lista_FacEnv td {
    width: 6em;
    height: 25px;
}
.lista_FacEnv tr:hover {
    background: rgba(111,204,187,1);
    color: white;
}
/*****COBROS*****/
.lista_Cobros{
    background: rgba(152, 198, 213, 1);
    border-bottom-color: rgba(152, 198, 213, 1);
}
.lista_Cobros td{
    width: 8em;
    height: 25px;
}
.lista_Cobros tr:hover{
    background: rgba(152, 198, 213, 1);
    color: white;
}
/****PAGOS****/
.lista_Pagos{
    background: rgba(226, 168, 140, 1);
    border-bottom-color: rgba(226, 168, 140, 1); 
}
.lista_Pagos td{
    width: 8em;
    height: 25px;
}
.lista_Pagos tr:hover{
    background: rgba(226, 168, 140, 1);
    color: white;   
}
/*****DISPUTAS RECIBIDAS*****/
.lista_DispRec{
    background: rgba(140, 170, 223, 1);
    border-bottom-color: rgba(140, 170, 223, 1);  
}
.lista_DispRec td{
    width: 8em;
    height: 25px;
}
.lista_DispRec tr:hover{
    background: rgba(140, 170, 223, 1);
    color: white;
}
/*****DISPUTAS ENVIADAS*****/
.lista_DispEnv{
    background: rgba(20, 121, 121, 1);
    border-bottom-color: rgba(20, 121, 121, 1); 
}
.lista_DispEnv td{
    width: 8em;
    height: 25px;
}
.lista_DispEnv tr:hover{
    background: rgba(20, 121, 121, 1);
    color: white;
}
 /*****NOTAS DE CRÉDITO ENVIADAS*****/
.lista_NotCredEnv{
    background: rgb(172, 208, 212);
    border-bottom-color: rgb(172, 208, 212); 
}
.lista_NotCredEnv td{
    width: 8em;
    height: 25px;
}
.lista_NotCredEnv tr:hover{
    background: rgb(172, 208, 212);
    color: white;
}
 /*****NOTAS DE CRÉDITO RECIBIDAS*****/
.lista_NotCredRec{
    background: rgb(189, 170, 194);
    border-bottom-color: rgb(189, 170, 194); 
}
.lista_NotCredRec td{
    width: 8em;
    height: 25px;
}
.lista_NotCredRec tr:hover{
    background: rgb(189, 170, 194);
    color: white;
}
 /*****LISTA DE DISPUTAS RECIBIDAS EN FORM DE NOTA DE CREDITO ENVIADA*****/
.lista_Disp_NotaCEnv{
    background: silver;
    border-bottom-color: silver;
    width: 1030px!important;
}
.lista_Disp_NotaCEnv td{
    width: 8em;
    height: 25px;
}
.lista_Disp_NotaCEnv tr:hover{
    background: silver;
    color: white;
}

.tablaVistDocTemporales tr td input
{
    font-size: 1em;
    padding: 0em;
    width: 67px;
    box-sizing: border-box;
}
.tablaVistDocTemporales tr td:nth-child(9), .tablaVistDocTemporales tr td:nth-child(10)
{
    width: 75px;
}
.vistaTemp,.listaDisputas
{
    background:white;
    color: #555;
}

#botAgregarDatosContableFinal
{ 
    display:none;
}

.mensajeFinal
{
    background-color:white;
    border:solid threedshadow;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    color:#6E6E6E;
    top:9%;
    padding:23px 30px 43px 28px;
    position:fixed;
    text-align:center;
    width:490px;
    margin-left:20%;
    display: none;
    z-index: 1350;
}
.tablamensaje
{
    text-align: center;
    display: none;
    margin-left:auto;
    margin-right:auto;
    z-index: 1351;
    background:rgba(111,204,187,1);
    margin-top: 2%;
    font-weight:bold;
    color: white;
    border: none;
   
}
.filasMsjFinal
{
    text-align: center; margin-left:15%;
    background:white;
    color: silver;
    border: none;
    border-bottom-color: rgba(111,204,187,1);
    font-weight:normal;
}
.edit
{
    margin-right: 7px;   
}

#select_right, #select_left
{
    width: 400px;
}

.G_ManagerNuevo
{
    margin-top: 5%;
    margin-left: 20%;
    width: 24%;
}

.SelectGrupo
{
    margin-left:25%;
}

@media screen and (max-width: 1034px) { 
    #select_right, #select_left{ width: 314px}
    .botAsignarDestination{margin-left: 14%;}
     .mensaje{margin-left: 22%;}
}
@media screen and (max-width: 640px) { 
    #select_left{ width: 455px; height: 150px; margin-left: -7%;}
    #select_right{width: 455px; height: 150px; margin-top: 0%; margin-left: -115.8%;}
    #options_left {margin-top: 386%;margin-right: -16%;}
    #options_right {margin-right: -16%;}
    .botAsignarDestination{margin-left: -5%; margin-top: 18%;}
    .destinationform {width: 101%; margin-left: -9%;}
    .mensaje{width: 88%;margin-left: 1%; margin-top: 94%; position: absolute;}
    .rigthName {margin-left: -116%; margin-top: 49%;}
    .leftName {margin-left: -7%; margin-top: 3%;}
    .cancelar, .cancelar:hover{margin-left:175px;}
    .confirma, .confirma:hover {margin-left: 275px;}
}
@media screen and (max-width: 300px) { 
    #select_left{ width: 208px;height: 150px;}
    #select_right{width: 208px; height: 150px; margin-top: 0%; margin-left: -126%;}
    #options_left {margin-top: 386%;margin-right: 30%;}
    #options_right {margin-right: 26%;}
    .rigthName {margin-left: -127%; margin-top: 102%;}

    .divVendedor {margin-left: 19px;width: 135%;}
    .destinationform {width: 90%; margin-left: -9%;}

    .mensaje{width: 205px; margin-left: 1%; margin-top: 117%; position:absolute;}
    .cancelar, .cancelar:hover{margin-left:10px;}
    .confirma, .confirma:hover {margin-left: 109px;}
    .mensajeFinal {margin-left: 0%; margin-top: 100%; width: 77%; position:absolute;}
    .tablamensaje {margin-left: -9%}
    
    .SelectGrupo {width: 143%; margin-left: 3%;}
    .carrierSelect {width: 189%; margin-left: 3%;}
    .contratoForm {width: 96%; margin-left: 3%;}
    /*.GrupoOperadores {width: 96%; margin-left: 0%;}*/
    .input_largos{width: 144%; margin-left: 3%;}
    .CarrierDocument {margin-top: 0.9%; width: 144%; margin-right: -141px;}
    #AccountingDocumentTemp_note {width: 94%; margin-left: 1%;}
    #Managers_address {width: 55%; margin-left: 1%;}
    #GeographicZone_name_zona,#GeographicZone_color_zona {width: 87%; margin-left: 2%;}
    
    #botAsignarContrato{margin-left: -52%;}
    #botAsignar, .AsignarCarrierGroup, .botGuardarZonaColor{margin-left: -53%;margin-top: 12%;} 
    .botAsignarDestination{margin-left: -47%; margin-top: 30%;}
    #botAgregarDatosContable, #botAgregarDatosContableFinal, .G_ManagerNuevo{margin-left: -52%;}  
}
#Managers_address
{
    width: 94.5%;
}
.botonImprimir, .botonCorreo  
{
    /*background: url(../img/print.png);*/
    width: 40%;
}

.botonCorreo 
{
    /*background: url(../img/mail.png);*/
    width: 36%;
}

.botonesParaExportar 
{
    width: 7%;
    position: absolute;
    margin-left: 61%;
    display:none;
}

.paletaColores
{
    width: 12em;
    height: 10em;
    background: rgba(111,204,187,1);
    padding: 1% 0% 0% 1%;
    display: none;
    margin-left: 45%;
    margin-top: -12%;
    position: absolute;
    display: none;
}
.paletaColores:hover
{
    background: white;
}
.color1
{   font-size: 0px;
    width: 23%;
    height: 22%;
    background: #2ECCFA;
    float: left;
}
.color2
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #00FF80;
    float: left;
}
.color3
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #F4FA58;
    float: left;
}
.color4
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #FE9A2E;
    float: left;
}
.color5
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #FF0000;
    float: left;
}
.color6
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #D7DF01;
    float: left;
}
.color7
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #BDBDBD;
    float: left;
}
.color8
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #2E2E2E;
    float: left;
}
.color9
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #F5BCA9;
    float: left;
}
.color10
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #F6D8CE;
    float: left;
}
.color11
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #4B610B;
    float: left;
}
.color12
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #0B3B2E;
    float: left;
}
.color13
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #0A2A1B;
    float: left;
}
.color14
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #0B610B;
    float: left;
}
.color15
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #2EFE9A;
    float: left;
}
.color16
{
    font-size: 0px;
    width: 23%;
    height: 22%;
    background: #81BEF7;
    float: left;
}
.botGuardarZonaColor
{
    margin-top: 3%;
}

input#GeographicZone_name_zona, select#GeographicZone_name_zona
{
    display:none;
}
.clockhide
{
    display:none;
}
.cerradalasesion
{
    display: block;
    background-color: rgba(111,204,187,1);
    width: 24%;
    padding: 1%;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    margin-left: 37%;
}
.cerradalasesion:hover
{
    background-color:rgba(44, 139, 110, 1);
}
.relogin
{
    color: white!important;
    text-decoration-color: inherit;
    text-decoration: blink;
    text-decoration-line: inherit;
    font-weight:bold;
}
.relogin:hover
{
    color: white!important;
    text-decoration-color: inherit;
    text-decoration: blink;
    text-decoration-line: inherit;
}
#color_zona {
    padding: 19px!important;
    height: 47px!important;
}